<div style="width:500px; margin:0 auto;">
<h5>About NBI Data Visualization</h5>
<p>This application helps in visualizing the Bridge data which National Bridge Inventory (NBI) annually submit to FHWA by the States, Federal agencies, and Tribal governments.

The purpose of this project is to provide a web application to visualize the NBI data and help users of this web application to analyze the NBI data in a fast and secure manner. Through this web application, a user will be able to create an account to get access to the application and can perform analysis using various forms of visualizations. The web application users may have access all or some of the features. It provides search options, Summaries, Tabular representations and various 2D charts based on the NBI data. different variants like Bridge Record Distribution by State, by Ownership, by Deck Area, Distribution of Bridges by Total Average Daily Traffic, Percentages of Bridges Identified as Scour Critical Bridges in the United States, etc. Main features of this web application are the secure and fast retrieval of the NBI data, Presenting the NBI data in the tabular form, 2 Dimensional Charts like Pie chart, Bar chart, Maps included Charts, etc. These features help users of this application to quickly understand and analyze the NBI data quickly and make further vital decisions for the actual maintenance teams by reporting their analysis.

The NBI Data Visualization application is developed using Django REST framework and EmberJS, which enables the test-driven development and achieves an acceptable level of web application security.</p>
</div>
